/** Colors **/
/* 
#011526
#024059
#03738C
#d4d4d4
#e6e6e6
#0d0d0d
*/
/*** Colors ***/

/** Header styles **/

.header_main_container {
    display: grid;
    grid-template-columns: 50px auto 50px;
    width: 100%;
    height: 100%;
    background-color: #03738C;
    border-bottom: 5px solid #e6e6e6;
}

.home-link {
    display: grid;
    height: 50px;
    width: 50px;
    align-content: center;
    justify-content: center;
    background-color: #d4d4d4;
}
.home-link:hover {
    background-color: #e6e6e6;
}

.header-logo {
    height: 40px;
    width: 40px;
}

.account-button {
    border: none;
    color: #03738C;
    background-color: #d4d4d4;
    cursor: pointer;
}
.account-button:hover {
    background-color: #e6e6e6;
    color: #0d0d0d;
}

.navigation-link-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    /* grid-template-columns: repeat(6, max-content); */
}

.navigation-link {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    color: #e6e6e6;
    text-decoration: none;
}
.navigation-link:hover {
    color: #0d0d0d;
    background-color: #d4d4d4
}

/*** Header styles ***/